Repository dnd-mentee-3rd/dnd-mentee-3rd-6-repo, pull requests merged in 2020-08, with the labels that each got.

#9 Set pages
  front-end/package.json
  front-end/src/App.js
  front-end/src/components/Post.js
  front-end/src/containers/PostContainer.js
  front-end/src/index.js
  front-end/src/pages/Chat/index.js
  front-end/src/pages/Pheed/index.js
Labels: front-end

#41 라이브러리 설치 및 린터 세팅
  front-end/.prettierrc
  front-end/jsconfig.json
  front-end/package.json
Labels: front-end

#42 로그인, 회원가입 페이지 및 로그인 폼, 회원가입 폼
  front-end/.prettierrc
  front-end/package.json
  front-end/public/index.html
  front-end/src/App.js
  front-end/src/components/Post.js
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/LoginForm.js
  front-end/src/components/auth/RegisterForm.js
  front-end/src/components/common/BackButton.js
  front-end/src/components/common/BottomButton.js
  front-end/src/components/common/FormWrapper.js
  front-end/src/containers/PostContainer.js
  front-end/src/containers/auth/LoginFormContainer.js
  front-end/src/containers/auth/RegisterFormContainer.js
  front-end/src/hooks/useInput.js
  front-end/src/index.css
  front-end/src/index.js
  front-end/src/lib/style/pallete.js
  front-end/src/pages/Chat/index.js
  front-end/src/pages/ChatPage.js
  front-end/src/pages/LoginPage.js
  front-end/src/pages/NotificationPage.js
  front-end/src/pages/PheedPage.js
  front-end/src/pages/PostPage.js
  front-end/src/pages/ProfilePage.js
  front-end/src/pages/RegisterPage.js
  front-end/src/pages/SettingPage.js
  front-end/src/pages/index.js
  front-end/src/reset.css
Labels: front-end, 회원가입

#43 ADD redux-saga
  front-end/.prettierrc
  front-end/package.json
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/LoginForm.js
  front-end/src/components/auth/RegisterForm.js
  front-end/src/components/common/BackButton.js
  front-end/src/components/common/BottomButton.js
  front-end/src/components/common/FormWrapper.js
  front-end/src/containers/auth/LoginFormContainer.js
  front-end/src/index.js
  front-end/src/reducers/index.js
  front-end/src/reducers/user.js
  front-end/src/sagas/index.js
  front-end/src/sagas/user.js
Labels: front-end, 회원가입

#44 MODIFY 첫 페이지 로고 #10
  front-end/src/index.css
  front-end/src/logo.svg
  front-end/src/pages/index.js
Labels: front-end, 회원가입

#45 ADD 회원가입 페이지(3) #10
  front-end/package.json
  front-end/public/favicon.ico
  front-end/src/App.js
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/ButlerOrNotButler.js
  front-end/src/components/auth/EmailPassword.js
  front-end/src/components/auth/IdentifyForm.js
  front-end/src/components/auth/LoginForm.js
  front-end/src/components/auth/RegisterForm.js
  front-end/src/components/common/AppLayout.js
  front-end/src/components/common/BackButton.js
  front-end/src/components/common/BottomCol.js
  front-end/src/components/common/InputForm.js
  front-end/src/containers/auth/LoginFormContainer.js
  front-end/src/containers/auth/RegisterFormContainer.js
  front-end/src/index.css
  front-end/src/index.js
  front-end/src/lib/style/pallete.js
  front-end/src/logo.svg
  front-end/src/modules/auth.js
  front-end/src/modules/index.js
  front-end/src/modules/pageNumber.js
  front-end/src/modules/user.js
  front-end/src/pages/LoginPage.js
  front-end/src/pages/RegisterPage.js
  front-end/src/pages/index.js
  front-end/src/reducers/index.js
  front-end/src/sagas/index.js
  front-end/src/sagas/user.js
Labels: front-end, 회원가입

#46 MODIFY 회원가입 & 로그인 페이지 UI #10
  front-end/README.md
  front-end/package.json
  front-end/src/App.js
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/EmailPassword.js
  front-end/src/components/auth/IdentifyForm.js
  front-end/src/components/auth/LoginForm.js
  front-end/src/components/common/BackButton.js
  front-end/src/components/common/BottomCol.js
  front-end/src/components/common/ErrorMessage.js
  front-end/src/components/common/FormWrapper.js
  front-end/src/components/common/InputForm.js
  front-end/src/containers/auth/LoginFormContainer.js
  front-end/src/containers/auth/RegisterFormContainer.js
  front-end/src/index.css
  front-end/src/lib/api/firebaseAuth.js
  front-end/src/lib/style/pallete.js
  front-end/src/modules/auth.js
  front-end/src/pages/RegisterPage.js
  front-end/src/pages/index.js
Labels: front-end, 회원가입

#47 UPDATE signUp 단계 회원가입 #10
  front-end/package.json
  front-end/public/index.html
  front-end/src/components/auth/Butler/ButlerOrNotButler.js
  front-end/src/components/auth/Butler/butlerStyles.js
  front-end/src/components/auth/ButlerOrNotButler.js
  front-end/src/components/auth/ProfileImage/index.js
  front-end/src/components/auth/SignUp/EmailPassword.js
  front-end/src/components/auth/SignUp/IdentifyForm.js
  front-end/src/components/auth/SignUp/LoginForm.js
  front-end/src/containers/auth/LoginFormContainer.js
  front-end/src/containers/auth/ProfileImageContainner.js
  front-end/src/containers/auth/RegisterFormContainer.js
  front-end/src/modules/auth.js
  front-end/src/modules/index.js
  front-end/src/modules/pageNumber.js
  front-end/src/pages/RegisterPage.js
Labels: front-end, 회원가입

#48 MODIFY 집사확인 #10
  front-end/src/components/auth/Butler/ButlerOrNotButler.js
  front-end/src/components/auth/Butler/butlerStyles.js
  front-end/src/components/common/BottomCol.js
  front-end/src/components/common/InputForm.js
  front-end/src/containers/auth/RegisterFormContainer.js
  front-end/src/modules/auth.js
  front-end/src/pages/RegisterPage.js
Labels: front-end, 회원가입

#54 MODIFY 회원가입 UI 및 API 요청 saga #10
  front-end/package.json
  front-end/public/images/button/back.svg
  front-end/src/App.js
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/Butler/ButlerOrNotButler.js
  front-end/src/components/auth/ProfileImage/ProfileName.js
  front-end/src/components/auth/ProfileImage/index.js
  front-end/src/components/auth/SignUp/Butler/ButlerOrNotButler.js
  front-end/src/components/auth/SignUp/Butler/butlerStyles.js
  front-end/src/components/auth/SignUp/EmailPassword.js
  front-end/src/components/auth/SignUp/IdentifyForm.js
  front-end/src/components/auth/SignUp/LoginForm.js
  front-end/src/components/common/BackButton.js
  front-end/src/components/common/BottomCol.js
  front-end/src/components/common/ErrorMessage.js
  front-end/src/components/common/FormWrapper.js
  front-end/src/components/common/InputForm.js
  front-end/src/containers/auth/LoginFormContainer.js
  front-end/src/containers/auth/RegisterFormContainer.js
  front-end/src/index.css
  front-end/src/lib/style/pallete.js
  front-end/src/modules/auth.js
  front-end/src/modules/index.js
  front-end/src/modules/pageNumber.js
  front-end/src/modules/user.js
  front-end/src/pages/FeedPage.js
  front-end/src/pages/LoginPage.js
  front-end/src/pages/MyPage.js
  front-end/src/pages/index.js
Labels: front-end, 회원가입

#55 ADD 냥이 이미지 등록 페이지 #10
  front-end/src/components/auth/ProfileImage/ImageStyles.js
  front-end/src/components/auth/ProfileImage/ProfileImageUpload.js
  front-end/src/components/auth/ProfileImage/ProfileName.js
  front-end/src/components/common/InputForm.js
  front-end/src/components/common/Message.js
  front-end/src/containers/auth/ProfileImageContainner.js
  front-end/src/modules/index.js
  front-end/src/modules/pageNumber.js
  front-end/src/modules/user.js
Labels: front-end, 회원가입

#57 ADD 말 풍선 svg, 이메일 비밀번호 간격, 집사 선택 UI #10
  front-end/public/images/bubble/speech.svg
  front-end/src/App.js
  front-end/src/components/auth/SignUp/Butler/butlerStyles.js
  front-end/src/components/auth/SignUp/EmailPassword.js
  front-end/src/components/auth/SignUp/LoginForm.js
  front-end/src/index.css
  front-end/src/pages/index.js
Labels: front-end, 회원가입

#58 TYPOFIX 이메일 확인 메세지 #10
  front-end/src/components/auth/SignUp/EmailPassword.js
Labels: front-end, 회원가입

#60 ADD 집사 정보등록 페이지 및 카카오 맵 연결 #10
  front-end/public/images/map/maker.svg
  front-end/src/App.js
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/ServantInfo/HometownAuth.js
  front-end/src/components/auth/ServantInfo/index.js
  front-end/src/components/auth/SignUp/EmailPassword.js
  front-end/src/components/auth/SignUp/IdentifyForm.js
  front-end/src/components/auth/SignUp/LoginForm.js
  front-end/src/components/common/BottomCol.js
  front-end/src/components/common/InputForm.js
  front-end/src/components/common/MarginTop.js
  front-end/src/containers/auth/HometownAuthContainer.js
  front-end/src/containers/auth/ProfileImageContainer.js
  front-end/src/containers/auth/ServantInfoContainer.js
  front-end/src/index.css
  front-end/src/modules/user.js
  front-end/src/pages/RegisterPage.js
Labels: front-end, 회원가입

#61 MODIFY 하단 버튼 위치 변경 및 saga 합침(user, auth) #10
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/SignUp/EmailPassword.js
  front-end/src/components/auth/SignUp/IdentifyForm.js
  front-end/src/components/auth/SignUp/LoginForm.js
  front-end/src/components/common/BottomCol.js
  front-end/src/containers/auth/RegisterFormContainer.js
  front-end/src/modules/auth.js
  front-end/src/modules/index.js
  front-end/src/modules/user.js
Labels: front-end, 회원가입

#66 ADD 회원가입 기능 구현 끝 #10
  front-end/src/components/auth/SignUp/CatProfileImage/CatProfileEnrollForm.js
  front-end/src/components/auth/SignUp/CatProfileImage/styles.js
  front-end/src/components/common/RdioForm.js
  front-end/src/containers/auth/CatProfileImageContainer.js
  front-end/src/containers/auth/LoginFormContainer.js
  front-end/src/containers/auth/ServantInfoContainer.js
  front-end/src/index.css
  front-end/src/modules/pageNumber.js
  front-end/src/modules/user.js
Labels: front-end, 회원가입

#73 MODIFY 코드리뷰 반영 #69
  front-end/.env.sample
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/auth/LoginForm.js
  front-end/src/components/auth/SignUp/CatProfileImage/CatProfileEnrollForm.js
  front-end/src/components/auth/SignUp/CatProfileImage/CatProfileNameForm.js
  front-end/src/components/auth/SignUp/CatProfileImage/index.js
  front-end/src/components/auth/SignUp/EmailPasswordForm.js
  front-end/src/components/auth/SignUp/IdentifyForm.js
  front-end/src/components/auth/SignUp/IsServant/index.js
  front-end/src/components/auth/SignUp/ServantInfo/ServantInfoAddressForm.js
  front-end/src/components/auth/SignUp/ServantInfo/index.js
  front-end/src/components/common/BackButton.js
  front-end/src/containers/auth/CatProfileEnrollFormContainer.js
  front-end/src/containers/auth/CatProfileImageContainer.js
  front-end/src/containers/auth/CatProfileImageFormContainer.js
  front-end/src/containers/auth/CatProfileNameFormContainer.js
  front-end/src/containers/auth/EmailPasswordFormContainer.js
  front-end/src/containers/auth/IdentifyFormContainer.js
  front-end/src/containers/auth/IsServantContainer.js
  front-end/src/containers/auth/ServantInfoAddressFormContainer.js
  front-end/src/containers/auth/ServantInfoFormContainer.js
  front-end/src/containers/auth/SignUpContainer.js
  front-end/src/index.css
  front-end/src/lib/api/firebaseAuth.js
  front-end/src/modules/auth.js
  front-end/src/modules/index.js
  front-end/src/modules/map.js
  front-end/src/modules/pageNumber.js
  front-end/src/modules/user.js
  front-end/src/pages/RegisterPage.js
Labels: front-end, 회원가입

#76 ADD 최종 피드 UI #13
  front-end/.gitignore
  front-end/package.json
  front-end/public/images/isServant/1.svg
  front-end/public/images/isServant/2.svg
  front-end/src/App.js
  front-end/src/components/Feed/FeedCard.js
  front-end/src/components/Feed/FeedHead.js
  front-end/src/components/Feed/index.js
  front-end/src/components/Feed/styles.js
  front-end/src/components/auth/SignUp/IsServant/index.js
  front-end/src/components/common/AppLayout.js
  front-end/src/containers/Feed/FeedContainer.js
  front-end/src/containers/common/AppLayoutContainer.js
  front-end/src/index.js
  front-end/src/lib/api/firebaseAuth.js
  front-end/src/lib/style/feedIcon/ComentIcon.js
  front-end/src/lib/style/feedIcon/LIkeIcon.js
  front-end/src/lib/style/feedIcon/SaveIcon.js
  front-end/src/lib/style/menuIcon/FeedIcon.js
  front-end/src/lib/style/menuIcon/MyPageIcon.js
  front-end/src/lib/style/menuIcon/NotificationIcon.js
  front-end/src/lib/style/menuIcon/PostsIcon.js
  front-end/src/lib/style/menuIcon/QnAIcon.js
  front-end/src/modules/goToPage.js
  front-end/src/modules/index.js
  front-end/src/modules/map.js
  front-end/src/pages/FeedPage.js
  front-end/src/pages/MyPage.js
  front-end/src/pages/NotificationPage.js
  front-end/src/pages/PostsPage.js
  front-end/src/pages/QnAPage.js
Labels: front-end, 피드

#79 MODIFY 피드 리스트 API 구조에 맞게 작성 #13
  front-end/public/images/button/back.svg
  front-end/src/components/Feed/FeedCard.js
  front-end/src/components/Feed/FeedCardImage.js
  front-end/src/components/Feed/Feedhead.js
  front-end/src/components/Feed/index.js
  front-end/src/components/Feed/styles.js
  front-end/src/components/auth/AuthTemplate.js
  front-end/src/components/common/AppLayout.js
  front-end/src/components/common/BackButton.js
  front-end/src/containers/Feed/FeedContainer.js
  front-end/src/lib/style/button/BackIcon.js
  front-end/src/lib/style/feedIcon/LIkeIcon.js
  front-end/src/modules/feed.js
  front-end/src/modules/index.js
  front-end/src/modules/user.js
  front-end/src/pages/FeedPage.js
  front-end/src/pages/RegisterPage.js
Labels: front-end, 피드

#80 ADD 더미 데이터로 피드 리스트 가져오기 #13
  front-end/src/App.js
  front-end/src/components/Feed/Comment.js
  front-end/src/components/Feed/CommentList.js
  front-end/src/components/Feed/CommentReple.js
  front-end/src/components/Feed/FeedCard.js
  front-end/src/components/Feed/index.js
  front-end/src/components/Feed/styles.js
  front-end/src/components/Write/styles.js
  front-end/src/components/common/AppLayout.js
  front-end/src/components/common/BackButton.js
  front-end/src/components/common/CompleteButton.js
  front-end/src/containers/Feed/CommentContainer.js
  front-end/src/containers/Feed/FeedContainer.js
  front-end/src/lib/style/NullIcon.js
  front-end/src/lib/style/button/CancelIcon.js
  front-end/src/lib/style/feedIcon/RepleIcon.js
  front-end/src/lib/style/menuIcon/WriteIcon.js
  front-end/src/modules/feed.js
  front-end/src/pages/FeedPage.js
Labels: front-end, 피드

#102 ADD 글쓰기 사진 업로드 미리보기, 사진 삭제 기능 #12
  front-end/src/App.js
  front-end/src/components/Write/Write.js
  front-end/src/components/Write/styles.js
  front-end/src/components/common/BackButton.js
  front-end/src/containers/Write/WriteContainer.js
  front-end/src/containers/auth/LoginFormContainer.js
Labels: front-end, 피드
